[package]
name = "fixnum"
version = "0.8.0"
description = "Fixed-point numbers with explicit rounding"
keywords = ["fixed", "decimal", "numbers"]
authors = ["Paul Loyd <pavelko95@gmail.com>"]
repository = "https://github.com/loyd/fixnum"
license = "MIT OR Apache-2.0"
readme = "README.md"
edition = "2018"
categories = ["no-std"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]

[[bench]]
name = "fixed_point"
path = "benches/fixed_point.rs"
harness = false

[[bench]]
name = "serde"
path = "benches/serde.rs"
harness = false

[[example]]
name = "usage"
path = "examples/usage.rs"
required-features = ["i64"]

[features]
default = ["std", "serde"]
std = ["derive_more/error"]
i16 = []
i32 = []
i64 = []
i128 = []
parity = ["parity-scale-codec"]

[dependencies]
serde = { version = "1.0", default-features = false, features = ["derive"], optional = true }
typenum = "1.12.0"
derive_more = { version = "0.99.9", default-features = false }
parity-scale-codec = { version = "3", default-features = false, features = ["derive"], optional = true }
static_assertions = "1.1.0"
itoa = "1.0.1"

[dev-dependencies]
anyhow = { version = "1.0.38", default-features = false }
colored = "2.0.0"
criterion = "0.3.3"
derive_more = "0.99.9"
trybuild = "1.0.39"
serde_json = "1"
bincode = { version = "1.3", features = ["i128"] }
proptest = "1.0.0"
rust_decimal = "1.22.0"
